<h2>Edit celebrity details</h2>



<form action="/index-celeb/{{celebrity._id}}/" method="post">
Name: <input value="{{celebrity.name}}" type="text" name="name"> 
Occupation: <input value= "{{celebrity.occupation}}" type="text" name="occupation">
Catch Phrase: <input value= "{{celebrity.catchPhrase}}" type="text" name="catchPhrase">  
<button type="submit"> Confirm changes </button>
</form>
