{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<nav>
<a href="/">Home</a>  
<a href="/index-celeb">Celebrities</a>  
<a href="/movies">Movies</a>  

{{!-- <a href="/book-detail">Books detail</a>   --}}
</nav>

