<h2>Celebrities</h2>
<ul>
{{#each listOfCelebs}}
<li>
  <a href="/index-celeb/{{this._id}}">
      {{this.name}}
  </a>
  <form action="index-celeb/{{this._id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>
  <form action="index-celeb/{{this._id}}/edit-celebrity" method="post">
  <button type="submit">Edit</button>
  </form>
</li>
{{/each}}
</ul>

<a href="/new-celeb">Add Celebrity</a>


 