<h2>Add a new celebrity</h2>


{{!-- {{#if error}}
<div class="alert-red">
  {{error}}
</div>
{{/if}} --}}

<form action="/celebrities" method="post">
  Name: <input type="text" name="name"> <br>
  Occupation: <input type="text" name="occupation"><br>
  Catch Phrase: <input type="number" name="catchPhrase"><br>
</form>
  <button type="submit">Add celebrity</button>
